In [64]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  85      Python
2번    강태원  구로고  184   40   35   50  25        Java
3번    강호림  가산고  168   80   75   70  75  Javascript
4번    김수찬  구로고  187   40   60   70  80         NaN
5번    김재욱  가산고  188   15   20   10  10         NaN
6번    박동현  가산고  202   80  100   95  80           C
7번    박혜정  구로고  188   55   65   45  35      Python
8번    승근열  구로고  190  100   85   90  95          C#

In [65]:
df = pd.read_excel('연령별인구현황01.xlsx',index_col='행정기관',skiprows=3,nrows=1,usecols='B,E:Y')
# df.loc['전국']
df.index
df.loc['전국  ']
## 빈공백 제거
df.index[0].strip()
## index 1번째 row데이터 출력
df.loc[df.index[0]]  # df.loc['전국  ']

## index 이름을 변경
df.rename(index={df.index[0]:df.index[0].strip()},inplace=True)
df.index

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['전국'], dtype='object', name='행정기관')

In [66]:
df['0~4세']+df['5~9세']

행정기관
전국    726,4601,072,653
dtype: object

In [67]:
# df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)

In [68]:
df = df.T

df['전국'].str.replace(",","").astype(int)

0~4세        726460
5~9세       1072653
10~14세     1211077
15~19세     1211949
20~24세     1524378
25~29세     1823908
30~34세     1737714
35~39세     1684266
40~44세     2055130
45~49세     2039606
50~54세     2303096
55~59세     2052227
60~64세     2097254
65~69세     1554976
70~74세     1038388
75~79세      713448
80~84세      507915
85~89세      212726
90~94세       54180
95~99세        8880
100세 이상       1307
Name: 전국, dtype: int64

In [69]:
df['전국'] = df['전국'].str.replace(",","").astype(int)

df['전국'].min()
df['전국'].max()

np.int64(2303096)

In [129]:
### 이름변경
### 출생아 수의 최대값,최소값 출력
### 축을 변경하기

df = pd.read_excel('출산율2.xlsx',skiprows=2,nrows=2,usecols='A,B:K',index_col=0)
df.index.name = '목록'
df['2014']  # 세로방향 (컬럼방향)
df.index.values
df.loc['출생아\xa0수']  # 1.가로방향 (index방향)
df.iloc[0]  # 2.가로방향 (index방향)
df.rename(index={'출생아\xa0수':'출생아수','합계\xa0출산율':'합계출산율'},inplace=True)
df = df.T
df['출생아수'].min()
df['출생아수'].max()
df['출생아수']

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
2021    260.6
2022    249.1
2023    230.0
Name: 출생아수, dtype: float64

In [131]:
filt = (df['출생아수']>=300) & (df['합계출산율']>=1)
df[filt]

목록     출생아수  합계출산율
2014  435.4  1.205
2015  438.4  1.239
2016  406.2  1.172
2017  357.8  1.052