In [7]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [8]:
df['이름']
df[['이름','학교','키']]
df[['키','이름','SW특기']]
df

       이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  85      Python
2번    강태원  구로고  184   40   35   50  25        Java
3번    강호림  가산고  168   80   75   70  75  Javascript
4번    김수찬  구로고  187   40   60   70  80         NaN
5번    김재욱  가산고  188   15   20   10  10         NaN
6번    박동현  가산고  202   80  100   95  80           C
7번    박혜정  구로고  188   55   65   45  35      Python
8번    승근열  구로고  190  100   85   90  95          C#

In [10]:
df = pd.read_excel('score.xlsx',index_col='이름')
df
df.sort_index(ascending=False)

    지원번호   학교    키   국어   영어   수학  사회        SW특기
이름
승근열   8번  구로고  190  100   85   90  95          C#
박혜정   7번  구로고  188   55   65   45  35      Python
박동현   6번  가산고  202   80  100   95  80           C
김재욱   5번  가산고  188   15   20   10  10         NaN
김수찬   4번  구로고  187   40   60   70  80         NaN
강호림   3번  가산고  168   80   75   70  75  Javascript
강태원   2번  구로고  184   40   35   50  25        Java
강나래   1번  구로고  197   90   85  100  85      Python

In [ ]:
df = pd.read_excel('score.xlsx',index_col='지원번호')
df
df.describe()
df['국어'].describe()

count      8.000000
mean      62.500000
std       29.519969
min       15.000000
25%       40.000000
50%       67.500000
75%       82.500000
max      100.000000
Name: 국어, dtype: float64

In [ ]:
df.describe()  # 숫자에 해당되는 것만 출력됨
df['이름'].describe()  # 문자라서 count밖에 안나옴

count       8
unique      8
top       강나래
freq        1
Name: 이름, dtype: object

In [45]:
df.head()
df.tail()
df.values
df.shape
df.columns
df['이름']
df[df.columns[-1]]
df.columns[-1]
# df[0]  # df[번호] 는 검색이 안됨
df[df.columns[0]]  # 첫번째 컬럼이 출력됨
df[df.columns[-1]]  # 마지막 컬럼이 출력됨
df.columns[0:3]  # 0,1,2까지 컬럼 이름을 가져옴
df.columns  # 전체 컬럼 출력
# df.info()

df['키'].min()
df['키'].max()
df['키'].mean()
df['키'].nlargest()
df['키'].nsmallest(3)  # 기본 5개, 숫자를 입력하면 숫자만큼 출력d
df['학교'].unique()  # 중복제거
df['학교'].nunique()  # 중복제거 개수
df['SW특기'].count()  # null값을 제외한 개수
df['학교'].count()  # 중복값이 없어서 8개 출력
df['국어'].sum()

np.int64(500)

In [ ]:
df.columns
df.columns[[0,3,-1]]  # 0,1,마지막번째 가져옴

Index(['이름', '국어', 'SW특기'], dtype='object')

In [ ]:
df[['이름','국어']]
df.columns[[1,3,5,-1]]  # # 0,1,마지막번째 가져옴

Index(['학교', '국어', '수학', 'SW특기'], dtype='object')