In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep="\t")
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
### lamda함수 적용
df['item_price'] = df['item_price'].apply(lambda x:float(x[1:]))

In [7]:
## 함수를 사용해서
## item_price에 $부분을 없애고, float타입으로 변경해서 입력
def func(x):
  return float(x[1:])

## 함수호출
df['item_price'] = df['item_price'].apply(func)
df

TypeError: 'float' object is not subscriptable

In [ ]:
df['item_price'].sum()
df['item_price'].mean()
df['item_price'].max()

np.float64(44.25)

In [ ]:
df.sort_values('item_price',ascending=False).head(10)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",27.75
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",26.25
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",26.25

In [ ]:
df.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [9]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
# item_name으로 그룹핑을해서 개수를 나열한 것
df.groupby('item_name').value_counts().head(20)

item_name          order_id  quantity  choice_description  item_price
6 Pack Soft Drink  129       1         [Sprite]            $6.49         1
                   148       1         [Diet Coke]         $6.49         1
                   154       1         [Coke]              $6.49         1
                   168       1         [Diet Coke]         $6.49         1
                   182       1         [Diet Coke]         $6.49         1
                   230       1         [Diet Coke]         $6.49         1
                   264       1         [Diet Coke]         $6.49         1
                   298       1         [Nestea]            $6.49         1
                   306       1         [Coke]              $6.49         1
                   363       1         [Coke]              $6.49         1
                   422       1         [Sprite]            $6.49         1
                   432       1         [Coke]              $6.49         1
                   465       1         [Coke]              $6.49         1
                   481       1         [Coke]              $6.49         1
                   511       1         [Coke]              $6.49         1
                   520       1         [Sprite]            $6.49         1
                   566       1         [Diet Coke]         $6.49         1
                   708       1         [Coke]              $6.49         1
                   709       1         [Diet Coke]         $6.49         1
                   749       1         [Coke]              $6.49         1
Name: count, dtype: int64