In [36]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [34]:
df.groupby('학교').count()

      이름  키  국어  영어  수학  과학  사회  SW특기
학교
구로고    5  5   5   5   5   5   5     3
디지털고   3  3   3   3   3   3   3     3

In [41]:
### 그룹화
# 해당되는 그룹의 리스트를 보여줌
df.groupby('학교').get_group('구로고')
# df.groupby('학교').mean()
# df.groupby('구로고').size()  # 해당학교 학생수 확인
df.groupby('학교').size()['구로고'] 
df.groupby('학교').size()['디지털고'] 
df.groupby('학교')['키'].mean()  # 학교별 키 평균값 출력

학교
구로고     184.800000
디지털고    193.333333
Name: 키, dtype: float64

In [42]:
df.groupby('학교').size()

학교
구로고     5
디지털고    3
dtype: int64

그룹별로 최대값, 최소값, 평균, 합계

In [45]:
# 학교 그룹별 - 키 출력 
df.groupby('학교')['키'].mean()
# 학교 그룹별 - 키, 국어점수의 평균 출력 
df.groupby('학교')[['키','국어']].mean()
df.groupby('학교')['키'].max()

학교
구로고     197
디지털고    202
Name: 키, dtype: int64

In [ ]:
# 컬럼별 최대값, 최소값, 평균, 합계, 표준편차
df['키'].mean()

np.float64(188.0)

In [48]:
df.groupby('학교')  # 그룹이 됨
df.groupby('학교')['키'].mean()

학교
구로고     184.800000
디지털고    193.333333
Name: 키, dtype: float64

In [51]:
# 컬럼을 추가
df['학년'] = [3,3,2,1,3,2,2,1]
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기  학년
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python   3
2번    강태원   구로고  184   40   35   50  55  25        Java   3
3번    강호림   구로고  168   80   75   70  80  75  Javascript   2
4번    김수찬   구로고  187   40   60   70  75  80         NaN   1
5번    김재욱   구로고  188   15   20   10  35  10         NaN   3
6번    박동현  디지털고  202   80  100   95  85  80           C   2
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON   2
8번    승근열  디지털고  190  100   85   90  95  95          C#   1

In [ ]:
df.groupby(['학교','학년']).size()

학교    학년
구로고   1     1
      2     1
      3     3
디지털고  1     1
      2     2
dtype: int64

In [56]:
df.groupby('학교')[['이름','SW특기']].count()

      이름  SW특기
학교
구로고    5     3
디지털고   3     3

In [59]:
df.groupby('학교').count()
df.groupby('학년')['이름'].count()

학년
1    2
2    3
3    3
Name: 이름, dtype: int64

In [65]:
df.groupby('학년').sum().sort_values('키')
df.groupby('학교').sum().sort_values('키')
df.groupby('학교')['키'].max()

학교
구로고     197
디지털고    202
Name: 키, dtype: int64

In [ ]:
### 그룹화
# 컬럼을 기준으로 그룹핑 - df.groupby('컬럼') sum():합계 / count():개수 / size():크기
df.groupby('학년').count()
df.groupby(['학년','학년']).count()
# 컬럼지정 필요 : df.groupby('컬럼')['숫자타입컬럼'] mean(), max(), min()
df.groupby('학교')['키'].max()
df.groupby('학교')[['키','국어']].max()

### 그룹별 키 순차정렬 / ascending=False : 역순정렬 
df.groupby('학년')['키'].mean().sort_values(ascending=False)

### value_counts() : 그룹핑 개수
df.groupby('학교')['학년'].value_counts().loc['구로고']
df.groupby('학교')['학년'].value_counts(normalize=True).loc['구로고']

학년
3    189.666667
1    188.500000
2    186.000000
Name: 키, dtype: float64

In [77]:
df.count()

이름      8
학교      8
키       8
국어      8
영어      8
수학      8
과학      8
사회      8
SW특기    6
학년      8
dtype: int64

In [ ]:
# 학교로 그룹핑, 학년으로 학생수 출력
## 그룹핑을 했을때 사용되는 개수
df.groupby('학교')['학년'].value_counts()

학교    학년
구로고   3     3
      1     1
      2     1
디지털고  2     2
      1     1
Name: count, dtype: int64

In [ ]:
### 학교로 그룹핑을해서 구로고 학생만 학년으로 학생수 출력
df.groupby('학교')['학년'].value_counts().loc['구로고']
# normalize=True : 퍼센트로 출력됨
df.groupby('학교')['학년'].value_counts(normalize=True).loc['구로고']

학년
3    0.6
1    0.2
2    0.2
Name: proportion, dtype: float64

In [81]:
# df.groupby('학교').min()
df['학교'].value_counts()

학교
구로고     5
디지털고    3
Name: count, dtype: int64

In [84]:
# 구로고 학생의 키 합계를 구하시오.
df.loc[df['학교'] == '구로고','키'].sum()
df.groupby('학교')['키'].sum().sort_values(ascending=False)

학교
구로고     924
디지털고    580
Name: 키, dtype: int64

In [92]:
df_s = df.groupby('학교')['키'].sum()

In [93]:
df_s.loc[df.groupby('학교')['키'].sum() > 600]

학교
구로고    924
Name: 키, dtype: int64

In [98]:
df.groupby('학교')['키'].mean()
df.groupby('학교')['키'].min()
df.groupby('학교')['키'].max()
df.groupby('학교')['키'].sum()
df.groupby('학교')['키'].agg(['mean','min','max','sum'])

            mean  min  max  sum
학교
구로고   184.800000  168  197  924
디지털고  193.333333  188  202  580

In [101]:
df['학교'].value_counts()

학교
구로고     5
디지털고    3
Name: count, dtype: int64