In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep="\t")
df.tail(5)

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
### 메뉴별 주문수량을 출력
df['item_name'].value_counts()

### 메뉴별 총 주문수량을 출력
# len(df['order_id'].unique())

### 주문당 평균 계산금액을 출력
# df.groupby('item_name')['item_price'].mean().astype(float)

### 아이템별 가격금액을 출력
# df('item_name')['item_price']

### 주문별, 높은 가격순으로 주문개수 출력
df.groupby('item_name')['item_price'].value_counts().sort_values(ascending=False)

### 주문당 평균 계산금액 출력
df.groupby('order_id')['item_price'].mean()

item_name            item_price
Chips and Guacamole  $4.45         349
Chicken Bowl         $8.75         313
Canned Soft Drink    $1.25         264
Chicken Burrito      $8.75         230
Chicken Bowl         $11.25        228
                                  ...
Steak Salad          $8.69           1
Steak Soft Tacos     $18.50          1
Veggie Burrito       $33.75          1
Veggie Crispy Tacos  $8.49           1
Veggie Soft Tacos    $16.98          1
Name: count, Length: 209, dtype: int64